.contenedor {
  min-height: 100vh;
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s;
}

.cajaAyuda {
  background-color: white;
  padding: 1.5rem;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 40rem;
}

.titulo {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
  text-align: center;
}

/* Contenedor de las preguntas */
.preguntas {
  margin-top: 1rem;
}

/* Estilo de cada bloque de pregunta */
.bloquePregunta {
  margin-bottom: 1rem;
  border-bottom: 1px solid #ccc;
}

/* Botón de cada pregunta */
.botonPregunta {
  width: 100%;
  text-align: left;
  font-weight: 600;
  font-size: 1.125rem;
  padding: 0.5rem;
  outline: none;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

/* Respuesta de la pregunta */
.respuesta {
  padding: 0.5rem;
  color: #4a5568;
}

/* Indicador de si está expandido o no */
.indicador {
  font-size: 1.25rem;
}
